# SPDX-FileCopyrightText: 2017-2018 CERN.
# SPDX-License-Identifier: MIT
#

-e git+https://github.com/GoogleCloudPlatform/flask-talisman.git#egg=Flask-Talisman
-e git+https://github.com/alisaifee/flask-limiter.git#egg=Flask-Limiter
-e git+https://github.com/inveniosoftware/flask-celeryext.git#egg=flask-celeryext
-e git+https://github.com/inveniosoftware/invenio-base.git#egg=invenio-base
-e git+https://github.com/inveniosoftware/invenio-cache.git#egg=invenio-cache
-e git+https://github.com/inveniosoftware/invenio-config.git#egg=invenio-config
